# Tests for checking the EDOS sites

to monitor "ara"

  check that
    url "http://ara.edos-project.org/"
    has
      /Search Debian packages using ara/ and
      /The EDOS project/ and
      /Sort cache/ and
      not /could not be located|error|exception/
    then check that
    url "http://ara.edos-project.org/search?p=false&s=popularity&x=false&q=poland+%26+not+gadu&a=Search&m=25&n=true"
    has
    /ydpdict/ and /Interface for Collins dictionaries/

  on more than 3 consecutive failures
     with subject "Ara server"
     mail "foo@bar.com"
     then
     with subject "Dear professor"
     mail "foo@bar.com"

thanks

# Netclient does not support https
to monitor "svn"

  check that
    command "/usr/bin/wget --quiet --no-check-certificate -O - https://protactinium.pps.jussieu.fr:12345/svn/edos/users/berke"
    outputs
           /Revision \\d+/ and
           /formalization/ and
           /monitor/ and
           not /could not be located|error|exception/

  on failure
    with subject "SVN server"
    mail "foo@bar.com"
    then
    with subject "Hey dude, about the SVN server"
    mail "foo@bar.com"
 
thanks

to monitor "wiki"

  check that
      url "http://www.edos-project.org/xwiki/bin/view/Main/WebHome"
      has
           /Environment for the development/
           and
           not
           /Apache Tomcat\/5\\.0/
      then check that
      url "http://www.edos-project.org/xwiki/bin/view/Main/WhatsNew"
      has
           /The following documents have been recently created or modified/
           and not /Apache Tomcat\/5\\.0/
  
  on more than 5 consecutive failures
      with subject "Wiki"
      mail
        "foo@bar.com",
        "foo@bar.com" and
        "foo@bar.com"
 thanks
